
  <div id="shop-domain" style="display: none;">{{ shop.domain }}</div>

  <script>
  // Function to load the chatbot script dynamically
  function loadChatbotConfig() {
    const tomaiBackend= 'https://slick-lizards-beg.loca.lt'
    const currentShop = document.getElementById("shop-domain")?.innerText;
    console.log("Loading chatbot config for shop:", currentShop);
    // console.log("ENV SHOPIFY REMIX:", process.env.VITE_EXTERNAL_BACK_END_URL);

    
    if (!currentShop) {
      console.error("Shop domain is not available.");
      return;
    }
    fetch(`${tomaiBackend}/api/v1/integration/shopify/integration/get-config?shop=${encodeURIComponent(currentShop)}`)
      .then(response => response.json())
      .then(config => {
        console.log("config", config.bot_key)
        if (config && config.bot_key && config.chatbox_src) {
          // Set the bot configuration
          window.tomaiConfig = {
            client_id: config.bot_key,
          };

          // Create the script element for the chatbox
          var chatboxScript = document.createElement('script');
          chatboxScript.id = 'chatbox';
          chatboxScript.src = config.chatbox_src;
          chatboxScript.async = true;

          // Append the script to the document head
          document.head.appendChild(chatboxScript);
        } else {
          console.error('Failed to load chatbot configuration');
        }
      })
      .catch(error => {
        console.error('Error fetching chatbot configuration:', error);
      });
  }

  // Load the chatbot configuration when the page is ready
  document.addEventListener('DOMContentLoaded', loadChatbotConfig);
</script>

{% schema %}
{
"name": "TomAI Chatbots",
"target": "section",
"settings": []
}
{% endschema %}
